.text-head {
  position: relative;
  margin-bottom: 16px;
}

.text-head .head-title {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #d7926b;
}

.text-head .head-title::after {
  position: absolute;
  content: '';
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 1px;
  background-color: #d7926b;
}
