.blog {
	padding: 120px 0px;
	background-color: #fcf7f4;
	.container {
		.text-content {
			.text-head {
				.head-title {
					padding-left: 80px;
				}
				.head-title::after {
					top: 7px;
					right: 50%;
					transform: translateX(-100%);
					width: 60px;
				}
			}
		}

		.news-container {
            display: flex;
            flex-wrap: wrap;
			.news {
                padding: 20px 10px;
				.box {
                    overflow: hidden;
					.image {
                        position: relative;
						img {
							width: 100%;
                            height: auto;
						}
                        .category{
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            top: 0;
                            right: 0;
                            height: 30px;
                            width: 110px;
                            font-size: 13px;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            color: #fff;
                            background-color: #111;
                        }
					}
                    .news-desc{
                        .credits{
                            padding: 20px 0;
                            a{
                                margin-right: 10px;
                                font-size: 14px;
                                color: #d7926b;
                            }
                        }
                    }
                    .btn-small{
                        a::before{
                            background-color: #111;
                        }
                    }
				}

			}
		}
	}
}


  @media (min-width: 768px) { 
    .blog{
        .container{
            .news-container{
                .news{
                    flex: 0 0 auto;
                    width: 50%;
                }
            }
        }
    }
  }

  @media (min-width: 992px) { 
    .blog{
        .container{
            .news-container{
                .news{
                    width: 33.33%;
                }
            }
        }
    }
   }

