.bigBtn{
    position: relative;
    padding: 20px 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    color: #fff;
    background-color: #18130C;
    cursor: pointer;
    transition: color 0.5s ease;
}
.bigBtn::after{
    position: absolute;
    content: '';
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border: 1px solid #fff;
    opacity: 0.4;
    transition: opacity 0.5s ease;
}
.bigBtn:hover:after{
    opacity: 1;
    transition: opacity 0.5s ease;
}


.colorWhite{
    color: #111;
    background-color: #fff;
}
.colorWhite::after{
    border: 1px solid #D7926B;;
}
.colorWhite:hover:after{
    opacity: 1;
    transition: opacity 0.5s ease;
}