.team {
	padding: 120px 0px;
	.container {
		position: relative;
		padding: 20px;
		.team-slider-box {
			overflow: hidden;
			padding-bottom: 30px;
			.swiper-person {
				position: relative;
				text-align: left;
				overflow: hidden;
				cursor: grabbing;
				img {
					display: block;
					height: auto;
					width: 100%;
					transform: scale(1);
					transition: transform 0.3s ease;
				}
				.swiper-over {
					display: none;
					position: absolute;
					content: '';
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					padding: 0 20px;
					background-color: rgba(1, 1, 1, 0.7);
					opacity: 0;
					transition: opacity 0.5s ease;
					.links {
						position: absolute;
						display: flex;
						flex-direction: column;
						top: 50%;
						transform: translateY(-50%);
						a {
							padding: 10px 0;
							font-size: 18px;
							color: #fff;
						}
						a:hover {
							color: #d7926b;
						}
					}

					.name {
						position: absolute;
						bottom: 0px;
						transition: bottom 0.5s ease;
						p {
							font-size: 14px;
							text-transform: uppercase;
							color: #d7926b;
							margin-bottom: 5px;
						}
						h3 {
							color: #fff;
						}
					}
				}
			}
			.swiper-person:hover {
				img {
					transform: scale(1.1);
					transition: transform 0.3s ease;
				}
				.swiper-over {
					opacity: 1;
					transition: opacity 0.5s ease;
					.name {
						bottom: 30px;
						transition: bottom 0.5s ease;
					}
				}
			}
		}
		.team-prev,
		.team-next {
			display: none;
			position: absolute;
			top: 50%;
			border: none;
			background-color: transparent;
			font-size: 40px;
			cursor: pointer;
			transition: color 0.3s ease;
		}

		.team-prev:hover,
		.team-next:hover {
			color: #d7926b;
			transition: color 0.3s ease;
		}

		.team-prev {
			left: -50px;
		}
		.team-prev::before,
		.team-next::after {
			position: absolute;
			content: '';
			top: 50%;
			transform: translateY(-50%);
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 1px solid #615e5e;
			opacity: 0.5;
		}
		.team-prev::before {
			left: -10px;
		}

		.team-next {
			right: -50px;
		}
		.team-next::after {
			right: -10px;
		}

		.swiper {
			width: 100%;
			height: 100%;
		}
		.team-swiper {
			overflow: visible;
		}
		.swiper-pagination {
			bottom: -30px !important;
		}
	}
}


@media (min-width: 576px) {
	.team {
		.container {
			.team-slider-box {
				.swiper-person {
					.swiper-over {
						display: block;
					}
				}
			}
		}
	}
}


@media (min-width: 992px) {
	.team {
		text-align: center;
	}
}

@media (min-width: 1200px) {
	.team {
		.container {
			.team-next,
			.team-prev {
				display: flex;
			}
		}
	}
}
