header {
	background-color: #18130c;
	position: relative;
}
.mySwiper {
	width: 100%;
	height: 100vh;
}

.sliderImage {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: grabbing;
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.sliderOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(1, 1, 1, 0.5);
}

.sliderTextbox {
	position: absolute;
	top: 50%;
	left: 0;
	margin: 0 5% 0 10%;
	transform: translateY(-50%);
	color: #fff;
}
.sliderText {
	text-align: left;
	h1 {
		font-size: 40px;
		font-weight: 400;
	}
	span {
		font-weight: bolder;
	}
}

.btnSmall {
	a {
		color: #fff;
	}
}
.btnLine {
	background-color: #fff;
}

.socials {
	display: none;
	position: absolute;
	right: 50px;
	bottom: 50px;
	z-index: 1;
	writing-mode: vertical-rl;
	ul {
		display: flex;
		li {
			margin: 10px 0px;
			a {
				font-family: 'Courier New', Courier, monospace;
				color: #fff;
				font-size: 15px;
				padding: 5px;
				transition: color 0.3s ease;
			}
			a:hover {
				color: #d7926b;
				transition: color 0.3s ease;
			}
		}
	}
}
@media (min-width: 576px) {
	.sliderTextbox {
		left: 10%;
	}
	.sliderText {
		font-size: 35px;
	}
}

@media (min-width: 992px) {
	.sliderText {
		h1 {
			font-size: 70px;
		}
	}
	.socials {
		display: block;
	}
}

.container {
	margin: 0 auto;
	padding: 0 30px !important;
}

@media (min-width: 576px) {
	.container {
		max-width: 560px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 760px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1360px) {
	.container {
		max-width: 1330px;
	}
}
