.counter {
    padding: 80px 0;
	background-color: #F9F5F5;
    background-image: url('/assets/pattern2.png');
	.container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
		.counter-box {
            position: relative;
            margin: 10px 0 auto;
            padding: 0 15px;
			.counter-bg {
				font-size: 120px;
				line-height: 141px;
				color: transparent;
				-webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
			}
            .counter-num{
                position: absolute;
                top: 0;
                left: 30%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .number{
                    font-size: 50px;
                    font-weight: bold;
                }
            }
		}
	}
}


  @media (min-width: 768px) { 
    .counter{
        .container{
            flex-direction: row;
            .counter-box{
                flex: 0 0 auto;
                width: 50%;
            }
        }
    }
   }
  
  @media (min-width: 992px) { 
    .counter{
        .container{
            .counter-box{
                width: 33%;
            }
        }
    }
   }
  
  @media (min-width: 1360px) { 
    .counter{
        .container{
            .counter-box{
                width: 25%;
            }
        }
    }
   }